apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/name: avapigw-operator
    app.kubernetes.io/component: manager
    app.kubernetes.io/managed-by: kustomize
  name: avapigw-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: avapigw-operator
  namespace: avapigw-system
  labels:
    app.kubernetes.io/name: avapigw-operator
    app.kubernetes.io/component: manager
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: avapigw-operator
      app.kubernetes.io/component: manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: avapigw-operator
        app.kubernetes.io/component: manager
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: manager
        image: avapigw-operator:latest
        imagePullPolicy: IfNotPresent
        command:
        - /operator
        args:
        - --leader-elect
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=:8080
        - --webhook-port=9443
        - --grpc-port=9444
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        ports:
        - containerPort: 8080
          name: metrics
          protocol: TCP
        - containerPort: 8081
          name: health
          protocol: TCP
        - containerPort: 9443
          name: webhook
          protocol: TCP
        - containerPort: 9444
          name: grpc
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 128Mi
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
      serviceAccountName: avapigw-operator
      terminationGracePeriodSeconds: 10
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: avapigw-operator-webhook-cert
