---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: avapigw-operator-role
rules:
- apiGroups:
  - ""
  resources:
  - endpoints
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - avapigw.io
  resources:
  - apiroutes
  - backends
  - grpcbackends
  - grpcroutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - avapigw.io
  resources:
  - apiroutes/finalizers
  - backends/finalizers
  - grpcbackends/finalizers
  - grpcroutes/finalizers
  verbs:
  - update
- apiGroups:
  - avapigw.io
  resources:
  - apiroutes/status
  - backends/status
  - grpcbackends/status
  - grpcroutes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingressclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/finalizers
  verbs:
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/status
  verbs:
  - get
  - patch
  - update
