---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - serviceaccounts
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts/token
  verbs:
  - create
- apiGroups:
  - avapigw.vyrodovalexey.github.com
  resources:
  - authpolicies
  - backends
  - gateways
  - grpcroutes
  - httproutes
  - ratelimitpolicies
  - tcproutes
  - tlsconfigs
  - tlsroutes
  - vaultsecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - avapigw.vyrodovalexey.github.com
  resources:
  - authpolicies/finalizers
  - backends/finalizers
  - gateways/finalizers
  - grpcroutes/finalizers
  - httproutes/finalizers
  - ratelimitpolicies/finalizers
  - tcproutes/finalizers
  - tlsconfigs/finalizers
  - tlsroutes/finalizers
  - vaultsecrets/finalizers
  verbs:
  - update
- apiGroups:
  - avapigw.vyrodovalexey.github.com
  resources:
  - authpolicies/status
  - backends/status
  - gateways/status
  - grpcroutes/status
  - httproutes/status
  - ratelimitpolicies/status
  - tcproutes/status
  - tlsconfigs/status
  - tlsroutes/status
  - vaultsecrets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - get
  - list
  - watch
