{{- if .Values.gateway.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "avapigw.fullname" . }}-gateway
  namespace: {{ include "avapigw.namespace" . }}
  labels:
    {{- include "avapigw.gateway.labels" . | nindent 4 }}
spec:
  {{- if not .Values.gateway.autoscaling.enabled }}
  replicas: {{ .Values.gateway.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "avapigw.gateway.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: gateway
        {{- with .Values.gateway.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "avapigw.gateway.selectorLabels" . | nindent 8 }}
        {{- with .Values.gateway.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- include "avapigw.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "avapigw.serviceAccountName" . }}
      {{- with .Values.gateway.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      containers:
        - name: gateway
          image: {{ include "avapigw.gateway.image" . }}
          imagePullPolicy: {{ .Values.gateway.image.pullPolicy }}
          {{- with .Values.gateway.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          args:
            - --log-level={{ .Values.gateway.config.logLevel }}
            - --log-format={{ .Values.gateway.config.logFormat }}
            - --http-port={{ .Values.gateway.service.httpPort }}
            - --health-port={{ .Values.gateway.service.healthPort }}
            - --metrics-port={{ .Values.gateway.service.metricsPort }}
            {{- if .Values.gateway.config.grpcEnabled }}
            - --grpc-enabled=true
            - --grpc-port={{ .Values.gateway.service.grpcPort }}
            {{- end }}
            {{- if .Values.gateway.config.tcpEnabled }}
            - --tcp-enabled=true
            - --tcp-port={{ .Values.gateway.service.tcpPort }}
            {{- end }}
            {{- if .Values.gateway.config.tlsPassthroughEnabled }}
            - --tls-passthrough-enabled=true
            - --tls-passthrough-port={{ .Values.gateway.service.tlsPort }}
            {{- end }}
            {{- if .Values.gateway.config.metricsEnabled }}
            - --metrics-enabled=true
            {{- end }}
            {{- if .Values.gateway.config.tracingEnabled }}
            - --tracing-enabled=true
            {{- end }}
            {{- with .Values.gateway.extraArgs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.gateway.service.httpPort }}
              protocol: TCP
            - name: health
              containerPort: {{ .Values.gateway.service.healthPort }}
              protocol: TCP
            - name: metrics
              containerPort: {{ .Values.gateway.service.metricsPort }}
              protocol: TCP
            {{- if .Values.gateway.config.grpcEnabled }}
            - name: grpc
              containerPort: {{ .Values.gateway.service.grpcPort }}
              protocol: TCP
            {{- end }}
            {{- if .Values.gateway.config.tcpEnabled }}
            - name: tcp
              containerPort: {{ .Values.gateway.service.tcpPort }}
              protocol: TCP
            {{- end }}
            {{- if .Values.gateway.config.tlsPassthroughEnabled }}
            - name: tls
              containerPort: {{ .Values.gateway.service.tlsPort }}
              protocol: TCP
            {{- end }}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            {{- if .Values.vault.enabled }}
            - name: VAULT_ADDR
              value: {{ .Values.vault.address | quote }}
            - name: VAULT_ROLE
              value: {{ .Values.vault.role | quote }}
            - name: VAULT_AUTH_PATH
              value: {{ .Values.vault.authPath | quote }}
            {{- if .Values.vault.namespace }}
            - name: VAULT_NAMESPACE
              value: {{ .Values.vault.namespace | quote }}
            {{- end }}
            {{- end }}
            {{- with .Values.gateway.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.gateway.health.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.gateway.health.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.gateway.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: config
              mountPath: /app/config
              readOnly: true
            {{- with .Values.gateway.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        - name: tmp
          emptyDir: {}
        - name: config
          configMap:
            name: {{ include "avapigw.fullname" . }}-gateway-config
        {{- with .Values.gateway.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.gateway.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.gateway.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.gateway.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- with .Values.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
