---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.0
  name: tlsroutes.avapigw.vyrodovalexey.github.com
spec:
  group: avapigw.vyrodovalexey.github.com
  names:
    kind: TLSRoute
    listKind: TLSRouteList
    plural: tlsroutes
    shortNames:
    - tlsr
    singular: tlsroute
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.hostnames[*]
      name: Hostnames
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          TLSRoute is the Schema for the tlsroutes API.
          TLSRoute provides a way to route TLS requests (passthrough).
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TLSRouteSpec defines the desired state of TLSRoute
            properties:
              hostnames:
                description: |-
                  Hostnames defines a set of SNI names that should match against the
                  SNI attribute of TLS ClientHello message in TLS handshake.
                items:
                  description: Hostname is a DNS hostname
                  maxLength: 253
                  minLength: 1
                  pattern: ^(\*\.)?[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                  type: string
                maxItems: 16
                minItems: 1
                type: array
              parentRefs:
                description: |-
                  ParentRefs references the resources (usually Gateways) that a Route wants
                  to be attached to.
                items:
                  description: ParentRef identifies a parent resource for route binding
                  properties:
                    group:
                      default: avapigw.vyrodovalexey.github.com
                      description: |-
                        Group is the group of the parent resource
                        Defaults to "avapigw.vyrodovalexey.github.com"
                      maxLength: 253
                      type: string
                    kind:
                      default: Gateway
                      description: |-
                        Kind is the kind of the parent resource
                        Defaults to "Gateway"
                      maxLength: 63
                      minLength: 1
                      type: string
                    name:
                      description: Name is the name of the parent resource
                      maxLength: 253
                      minLength: 1
                      type: string
                    namespace:
                      description: |-
                        Namespace is the namespace of the parent resource
                        When unspecified, the local namespace is inferred
                      maxLength: 63
                      minLength: 1
                      type: string
                    port:
                      description: Port is the network port this Route targets
                      format: int32
                      maximum: 65535
                      minimum: 1
                      type: integer
                    sectionName:
                      description: |-
                        SectionName is the name of a section within the parent resource
                        This is typically the listener name for Gateway
                      maxLength: 253
                      minLength: 1
                      type: string
                  required:
                  - name
                  type: object
                maxItems: 32
                type: array
              rules:
                description: Rules are a list of TLS matchers and actions.
                items:
                  description: TLSRouteRule is the configuration for a given rule.
                  properties:
                    backendRefs:
                      description: BackendRefs defines the backend(s) where matching
                        requests should be sent.
                      items:
                        description: TLSBackendRef defines how a TLSRoute forwards
                          a TLS connection.
                        properties:
                          group:
                            default: ""
                            description: |-
                              Group is the group of the backend resource
                              Empty string means the core API group
                            maxLength: 253
                            type: string
                          kind:
                            default: Service
                            description: |-
                              Kind is the kind of the backend resource
                              Defaults to "Service"
                            maxLength: 63
                            minLength: 1
                            type: string
                          name:
                            description: Name is the name of the backend resource
                            maxLength: 253
                            minLength: 1
                            type: string
                          namespace:
                            description: |-
                              Namespace is the namespace of the backend resource
                              When unspecified, the local namespace is inferred
                            maxLength: 63
                            minLength: 1
                            type: string
                          port:
                            description: Port is the port of the backend service
                            format: int32
                            maximum: 65535
                            minimum: 1
                            type: integer
                          weight:
                            default: 1
                            description: |-
                              Weight specifies the proportion of traffic to forward to this backend
                              Defaults to 1
                            format: int32
                            maximum: 1000000
                            minimum: 0
                            type: integer
                        required:
                        - name
                        type: object
                      maxItems: 16
                      minItems: 1
                      type: array
                  required:
                  - backendRefs
                  type: object
                maxItems: 16
                minItems: 1
                type: array
            required:
            - hostnames
            - rules
            type: object
          status:
            description: TLSRouteStatus defines the observed state of TLSRoute
            properties:
              parents:
                description: |-
                  Parents is a list of parent resources (usually Gateways) that are associated
                  with the route, and the status of the route with respect to each parent
                items:
                  description: RouteParentStatus describes the status of a route with
                    respect to an associated parent
                  properties:
                    conditions:
                      description: Conditions describes the status of the route with
                        respect to the Gateway
                      items:
                        description: Condition represents a condition of a resource
                        properties:
                          lastTransitionTime:
                            description: LastTransitionTime is the last time the condition
                              transitioned from one status to another
                            format: date-time
                            type: string
                          message:
                            description: Message is a human-readable message indicating
                              details about the transition
                            maxLength: 32768
                            type: string
                          observedGeneration:
                            description: ObservedGeneration represents the .metadata.generation
                              that the condition was set based upon
                            format: int64
                            minimum: 0
                            type: integer
                          reason:
                            description: Reason is a brief reason for the condition's
                              last transition
                            maxLength: 1024
                            minLength: 1
                            type: string
                          status:
                            description: Status of the condition, one of True, False,
                              Unknown
                            enum:
                            - "True"
                            - "False"
                            - Unknown
                            type: string
                          type:
                            description: Type of condition
                            type: string
                        required:
                        - lastTransitionTime
                        - reason
                        - status
                        - type
                        type: object
                      maxItems: 8
                      type: array
                      x-kubernetes-list-map-keys:
                      - type
                      x-kubernetes-list-type: map
                    controllerName:
                      description: ControllerName is the name of the controller that
                        wrote this status
                      maxLength: 253
                      minLength: 1
                      type: string
                    parentRef:
                      description: ParentRef corresponds with a ParentRef in the spec
                        that this status describes
                      properties:
                        group:
                          default: avapigw.vyrodovalexey.github.com
                          description: |-
                            Group is the group of the parent resource
                            Defaults to "avapigw.vyrodovalexey.github.com"
                          maxLength: 253
                          type: string
                        kind:
                          default: Gateway
                          description: |-
                            Kind is the kind of the parent resource
                            Defaults to "Gateway"
                          maxLength: 63
                          minLength: 1
                          type: string
                        name:
                          description: Name is the name of the parent resource
                          maxLength: 253
                          minLength: 1
                          type: string
                        namespace:
                          description: |-
                            Namespace is the namespace of the parent resource
                            When unspecified, the local namespace is inferred
                          maxLength: 63
                          minLength: 1
                          type: string
                        port:
                          description: Port is the network port this Route targets
                          format: int32
                          maximum: 65535
                          minimum: 1
                          type: integer
                        sectionName:
                          description: |-
                            SectionName is the name of a section within the parent resource
                            This is typically the listener name for Gateway
                          maxLength: 253
                          minLength: 1
                          type: string
                      required:
                      - name
                      type: object
                  required:
                  - controllerName
                  - parentRef
                  type: object
                maxItems: 32
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
