{{- if .Values.operator.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "avapigw.fullname" . }}-operator
  namespace: {{ include "avapigw.namespace" . }}
  labels:
    {{- include "avapigw.operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.operator.replicas }}
  selector:
    matchLabels:
      {{- include "avapigw.operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: operator
        {{- with .Values.operator.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "avapigw.operator.selectorLabels" . | nindent 8 }}
        {{- with .Values.operator.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- include "avapigw.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "avapigw.serviceAccountName" . }}
      {{- with .Values.operator.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      containers:
        - name: operator
          image: {{ include "avapigw.operator.image" . }}
          imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
          {{- with .Values.operator.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          args:
            - --metrics-bind-address=:{{ .Values.operator.metrics.port }}
            - --health-probe-bind-address=:{{ .Values.operator.health.port }}
            {{- if .Values.operator.leaderElection.enabled }}
            - --leader-elect=true
            {{- end }}
            {{- if .Values.webhook.enabled }}
            - --enable-webhooks=true
            - --webhook-port={{ .Values.webhook.port }}
            {{- if .Values.webhook.selfSignedCert }}
            - --webhook-self-signed-cert=true
            - --webhook-cert-dir=/tmp/k8s-webhook-server/serving-certs
            - --webhook-cert-validity={{ .Values.webhook.certValidity }}
            - --webhook-cert-rotation={{ .Values.webhook.certRotation }}
            - --webhook-service-name={{ include "avapigw.webhook.serviceName" . }}
            - --webhook-service-namespace={{ include "avapigw.namespace" . }}
            - --webhook-cert-secret-name={{ include "avapigw.webhook.certSecretName" . }}
            {{- end }}
            {{- else }}
            - --enable-webhooks=false
            {{- end }}
            {{- with .Values.operator.extraArgs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: metrics
              containerPort: {{ .Values.operator.metrics.port }}
              protocol: TCP
            - name: health
              containerPort: {{ .Values.operator.health.port }}
              protocol: TCP
            {{- if .Values.webhook.enabled }}
            - name: webhook
              containerPort: {{ .Values.webhook.port }}
              protocol: TCP
            {{- end }}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            {{- with .Values.operator.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.operator.health.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.operator.health.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.operator.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            {{- if .Values.webhook.enabled }}
            - name: webhook-certs
              mountPath: /tmp/k8s-webhook-server/serving-certs
              readOnly: false
            {{- end }}
            {{- with .Values.operator.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        - name: tmp
          emptyDir: {}
        {{- if .Values.webhook.enabled }}
        - name: webhook-certs
          emptyDir: {}
        {{- end }}
        {{- with .Values.operator.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- with .Values.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
